.idea
daphne_brain/__pycache__/*
*.DS_Store
iFEED_API/__pycache__/*
iFEED_API/migrations/__pycache__/*
EOSS/engineer/__pycache__/*
*.ipynb
EOSS/analyst/__pycache__/*
EOSS/analyst/.ipynb_checkpoints/
EOSS/analyst/data/
*.pyc
db.sqlite3
/logs/daphne.log
venv/
venv_linux/
experiment_at/results
dialogue/models