boto3
channels~=3.0.3
channels-redis~=3.2.0
dateparser~=1.0.0
Django~=3.1.7
django-cors-headers~=3.7.0
django-filter~=2.4.0
djangorestframework~=3.12.2
Flask~=1.1.2
numpy~=1.19.2
pandas~=1.2.3
pika~=1.2.0
psycopg2-binary~=2.8.6
python-Levenshtein~=0.12.2
redis~=3.5.3
schedule~=1.0.0
scipy~=1.6.1
spacy~=3.0.3
statsmodels~=0.12.2
SQLAlchemy~=1.4.15
tensorflow~=2.4.1
thrift~=0.13.0
xlrd~=1.2.0
