channels~=2.1.1
channels-redis~=2.1.1
dateparser~=0.7.0
Django~=2.0.4
django-filter~=1.1.0
djangorestframework~=3.8.2
numpy~=1.14.3
pandas~=0.22.0
psycopg2-binary~=2.7.4
python-Levenshtein~=0.12.0
redis~=2.10.6
scipy~=1.0.1
spacy~=2.0.11
statsmodels==~0.8.0
SQLAlchemy~=1.2.7
tensorflow~=1.8.0
thrift~=0.11.0
xlrd~=1.1.0
