asgi-redis==1.2.1
channels==1.1.6
dateparser==0.6.0
Django==1.11.4
django-filter==1.0.4
djangorestframework==3.6.3
psycopg2==2.7.3
python-Levenshtein==0.12.0
redis==2.10.5
scipy==0.19.1
spacy==1.9.0
SQLAlchemy==1.1.12
tensorflow==1.2.1
thrift==0.10.0
